/**
 * `static/css/Accounts.css`
 *
 * Worked on by: David Yan (Team 1, Group A)
 *   2014-06-10: Created the Accounts css file as part of the AngularJS shell
 *   2014-06-20: Added rough styles to some form elements
 */

.accounts input,
.accounts textarea {
  display: block;
  margin: 2em 0;
}
