/**
 * `static/css/main.css`
 *
 * Worked on by: David Yan (Team 1, Group A)
 *   2014-06-10: Created the main css file as part of the AngularJS shell
 *   2014-06-11: Added base app styles based on mockups done by another group
 *
 * Worked on by: Jamie To (Team 1, Group A)
 *   2014-06-25: Structured the CSS file with sections and comments
 */

/*---------------------------------------------------
Project:  Focus

[TOC]

1.  Body
2.  Header /#header
3.  Main View /#main
4.  Main Navigation /#nav
5.  Sub Navigation /.sub-nav
6.  Partial view /#feature
7.  Footer

[Color codes]
Background:
---------------------------------------------------*/

/*----------------------
          Header
----------------------*/

#header {
  background: #f0f0f0;
  padding: 2em;
}

/*----------------------
     Main View
----------------------*/

#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*----------------------
     Main Navigation
----------------------*/

#nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12em;
  -moz-box-flex: 0;
  -ms-flex: 0 0 12em;
  flex: 0 0 12em;
  background: #f0f0f0;
}



/*----------------------
    Partial View
----------------------*/

#feature {
  padding: 0 2em;
}

/*----------------------
       Footer
----------------------*/



