<div class="accounts" id="accounts-course">
  <h2 ng-bind="course.name"></h2>
  <p ng-show="!course.student_emails">No students.</p>
  <ul ng-show="course.student_emails.length">
    <li ng-repeat="email in course.student_emails">
      <span ng-bind="email"></span>
      <button ng-click="remove(email)">Remove</button>
    </li>
  </ul>
  <h2>Add Students</h2>
  <form name="create-form" autocomplete="on" ng-submit="add(emails)">
    <textarea
      required
      ng-list
      ng-model="emails"
      placeholder="Student Emails"></textarea>
    <input type="submit" value="Add">
  </form>
</div>
