<div class="accounts" id="accounts-create-instructor">
  <h2>Create Instructor</h2>
  <form name="create-form" autocomplete="on" ng-submit="create(email)">
    <input type="email" ng-model="email" placeholder="Email" required>
    <input type="submit" value="Create">
  </form>
</div>
