<div class="accounts" id="accounts-create-course">
  <h2>Courses</h2>
  <p ng-show="!courses.length">No courses.</p>
  <ul ng-show="courses.length">
    <li ng-repeat="course in courses">
      <a href="/course/{{course.id}}" ng-bind="course.name"></a>
    </li>
  </ul>
  <h2>Create Course</h2>
  <form name="create-form" autocomplete="on" ng-submit="create(name, emails)">
    <input type="text" ng-model="name" placeholder="Course Name" required>
    <textarea ng-list ng-model="emails" placeholder="Student Emails"></textarea>
    <input type="submit" value="Create">
  </form>
</div>
