<div class="accounts" id="accounts-login">
  <h2>Login</h2>
  <form name="login-form" autocomplete="on" ng-submit="login(email, password)">
    <input type="email" ng-model="email" placeholder="Email" required>
    <input type="password" ng-model="password" placeholder="Password" required>
    <input type="submit" value="Login">
  </form>
  <button ng-click="logout()">Logout</button>
</div>
