<div class="accounts" id="accounts-login">
  <h2>Change Password</h2>
  <form
    name="changePasswordForm"
    autocomplete="on"
    ng-submit="changePassword(old_password, new_password)">
    <input
      name="old_password"
      type="password"
      ng-model="old_password"
      placeholder="Old Password"
      autofocus
      required>
    <input
      name="new_password"
      type="password"
      ng-model="new_password"
      placeholder="New Password"
      required>
    <input type="submit" value="Change Password">
  </form>
</div>
